.requests-page {
  box-sizing: border-box;
  border-radius: 18px;
  border: 1px solid gray;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding: 5px;
  background-color: #24292E;
  box-shadow: 0 2px 12px white;
}


.rp-table {
  border: 1px solid white;
  margin: 1rem;
  border-collapse: collapse;
}

.requests-page > table,
td,
th {
  margin-right: auto;
  margin-left: auto;
  border: 1px solid white;
  font-size: 2vw;
  padding: 0.5rem;
  overflow: hidden;
  text-overflow: clip;
  white-space: pre-wrap;
}
