.button {
  font: inherit;
  cursor: pointer;
  margin: 5px;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  background-color: #darkgray;
  color: black;
  border-radius: 12px;
  transition: all 0.5s ease;
}

.button:hover {
  background-color: black;
  color: white;
}

.primary {
  background-color: green;
  color: white;
}

.primary:hover {
  background-color: lightgreen;
  color: black;
}

.danger {
  background-color: red;
  color: white;
}

.danger:hover {
  background-color: lightpink;
  color: black;
}

.small {
  font-size: 2vw;
  padding: 0.5rem;
}
