.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background: rgba(0, 0, 0, 0.75);
}

.spinner {
  display: block;
  text-align: center;
  position: fixed;
  margin: 2rem 12rem;
  padding: 3rem;
  z-index: 100;
  overflow: hidden;
}
